*{
    box-sizing: border-box;
}
html {
    padding: 0;
    margin: 0;
    font-size: 62.5%;
}
body {
    margin: 0;
    padding: 0;
    font-size: 1.6rem;
    font-family: Arial, Helvetica, sans-serif
}
h1{
    margin: 0;
}
