.bookingList-container{
    padding: 2rem 2rem 2rem 10rem;
    @media(max-width: 640px){
        padding-left: 1.2rem;
    }
}

.bookinglist-item{
    border: 1px solid $light-grey;
    border-bottom: none;
    padding: 1rem;
    max-width: 500px;
   // margin-bottom: 40px;
   &:last-child{
        border: 1px solid $light-grey;
    }
}


.item-details{
    display: flex;
    justify-content: space-between;
    max-width: 380px;
    @media(max-width: 450px){
        flex-direction: column;
        >div{
            margin-bottom: 10px;
        }
    }
}

.item__detail{
    width: 140px;
    overflow-wrap: break-word;
}
.item-time{
    width: 160px;
}