.filter-container{
    display: flex;
    justify-content: start;
    flex-wrap: wrap-reverse;
    margin-left: 100px;
    @media(max-width: 640px){
        margin-left: 0;
        padding-left: 1.2rem;
    }
}
.filter-container > div {
    margin: 1rem 1rem 2rem 0;
}
#room-select {
    width: 132px;
}