.header {
    background: #59595b;
    padding: 2rem;
    margin-bottom: 10px;
    padding-left: 10rem;
    @media(max-width: 640px){
        padding-left: 2rem;
    }
}
.title{
    text-decoration: none;
    color: $white;
}