.input{
    height: 48px;
    background-color: $white;
    border: 1px solid #bcb9bd;
    border-radius: 4px;
    font-size: 1.6rem;
    color: #484848;
    line-height: 1;
    margin-bottom: 1rem;
    padding: 1rem;
 
}
.text-input{
    @extend .input;
}
.select{
    @extend .input;
}


.SingleDatePicker {
    margin-bottom: 1rem;
    border-radius: 4px;
}
.SingleDatePickerInput{
    border-radius: 4px;
}   
.react-select__control{
    height:50px;
    margin-bottom: 1rem;
    background-color: $white !important;
}
.react-select__value-container{
    padding: 1rem;
}
.react-select__placeholder{
    color: $light-grey !important;
}
.button{
    background: $blue;
    border: none;
    color: $white;
    height: 50px;
    font-size: 1.8rem;
    &:hover{
        cursor: pointer;
    }
    width: 132px;
}
.link-button{
    @extend .button;
    text-decoration: none;
    display: inline-block;
    padding: $s-size;
}
::placeholder{
    color: $light-grey;
}